html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ol,
ul,
table,
tbody,
tfoot,
thead,
tr,
article,
footer,
header,
menu,
nav,
section,
output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: var(--fs-base);
}

html,
body {
  font-family: var(--font-body);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: var(--header-weight);
  line-height: var(--header-lh);
  text-align: var(--header-align);
}

h1 {
  font-size: var(--h1-size);
  letter-spacing: var(--header-ls);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
  margin-bottom: 25px;
}

p,
span {
  font-size: var(--fs-normal);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-normal);
  margin-bottom: var(--spacing-2);
}

// ----------- General -----------
body {
  padding-top: var(--header-size);
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-header);
  font-weight: var(--header-weight);
  background-color: var(--white);

  .logo {
    color: var(--color-header);
    font-size: var(--h3-size);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 20px;

      a {
        color: var(--color-header);
        font-size: var(--h4-size);
        padding: 6px 15px;
        border-radius: var(--radius-round);
        font-weight: 500;
        letter-spacing: 1px;
        transition: all 0.3s ease;
      }

      a:hover,
      .header-active {
        background: var(--color-button-hover);
        color: #000;
      }
    }
  }
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.creation {
  background-color: #f2f2f2;
  padding: 20px;

  input,
  .select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 1.6rem;
  }

  label {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

button {
  margin-top: 10px;
  padding: 8px 18px;
  border-radius: var(--radius-lg);
  font-weight: bold;
  color: var(--white);
  background: var(--color-link);
  width: 100%;
}

button:hover {
  background: var(--color-button-hover);
  transition: all 0.3s ease;
}

input {
  width: 100%;
  padding: 12px 20px;

  margin-bottom: 15px;
}
// ----------- List -----------
.list {
  margin-top: 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  td,
  th {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
  }

  th {
    background-color: #fecc09;
    color: black;
    font-size: 1.6em;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
    font-size: 1.4em;
  }

  td a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
  }
}

// ----------- Search Bar -----------
.search {
  &__container {
    padding-top: 64px;
    margin: 0 50px;
  }

  &__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
  }

  &__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}
